name: CI/CD Build + Deploy

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    # --- Build Image ---
    - name: Build Docker Image
      run: docker build -t fahadali323/portfoliowebsite:latest .

    # --- Login to Docker Hub ---
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # --- Push to Docker Hub ---
    - name: Push Image to DockerHub
      run: docker push fahadali323/portfoliowebsite:latest

    # --- Deploy on Remote Server ---
    - name: Deploy to Remote Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        port: 22
        script: |
          docker pull fahadali323/portfoliowebsite:latest
          
          # stop old container (ignore errors)
          docker stop interactive-resume || true
          docker rm interactive-resume || true
          
          # start new container
          docker run -d \
            --name interactive-resume \
            -p 80:80 \
            --restart always \
            ${{ secrets.DOCKER_USERNAME }}/interactive-resume:latest
